<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_form_num">
    Divide this:
  </label>
  <input id="first_form_num" name="first_number" type="text">

  <label for="second_form_num">
    by this:
  </label>
  <input id="second_form_num" name="second_number" type="text">

  <button>
    Divide!
  </button>
</form>
