<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_form_num">Multiply this:</label>
  <input id="first_form_num" name="first_num" type="text">

  <label for="second_form_num">by this:</label>
  <input id="second_form_num" name="second_num" type="text">

  <button>Multiply!</button>
</form>
