<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="first_form_number">Subtract this:</label>
  <input id="first_form_number" name="first_number" type="text">

  <label for="second_form_number">from this:</label>
  <input id="second_form_number" name="second_number" type="text">

  <button>Subtract!</button>
</form>
